@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BANGAZON WORKFORCE SAPPHIRE ELEPHANTS.</h1>
    <p>Click through our wonderful site to see all kinds of fun features from this sprint!</p>
</div>
